/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle_ergomech.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        ;
};

// &right_encoder { status = "okay"; }; // Keep commented out - no right encoder

// Define trackball directly in right overlay
&pro_micro_i2c {
    status = "okay";

    trackball: pim447@a { // Use definition here
        compatible = "pimoroni,pim447";
        reg = <0x0A>;
        status = "okay";
        int-gpios = <&pro_micro 3 GPIO_ACTIVE_LOW>;
    };
};

// Enable the input split driver
&input_split {
    status = "okay";
};

/* Left side encoder is defined in the left overlay */
// &left_encoder { status = "disabled"; } // Comment out again - build worked without it
