/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle_ergomech.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        ;
};

&right_encoder {
    status = "okay";
};

&i2c0 {
    status = "okay";

    glidepoint: glidepoint@15 { // Use 0x15 as the address
        compatible = "cirque,pinnacle_i2c";
        reg = <0x15>;
        status = "okay";
        interrupt-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>; // Assuming active low interrupt
    };
};
